/* Reset simples */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #121212;
    color: #fff;
    text-align: center;
    padding: 15px;
}

header h1 {
    font-size: 2rem;
    color: #ff3b30;
    margin-bottom: 5px;
}

header p {
    font-size: 0.9rem;
    color: #ccc;
    margin-bottom: 3px;
}

.exercise-card {
    background: #1e1e1e;
    border-radius: 12px;
    margin: 15px 0;
    padding: 15px;
    text-align: left;
    overflow: hidden;
}

.exercise-card img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 10px;
}

.exercise-info h2 {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 8px;
}

.exercise-info p {
    font-size: 0.9rem;
    color: #aaa;
    margin-bottom: 5px;
}

.exercise-info .section-title {
    color: #ff3b30;
    font-weight: bold;
    margin-top: 8px;
}

footer {
    margin-top: 20px;
    text-align: center;
}

button {
    padding: 15px 30px;
    background: #ff3b30;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #e02a20;
}